@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@tailwind utilities;

:root {
  --primary: #007BFF;
  --secondary: #32CD32;
  --accent: #FF3B30;
  --background: #121212;
  --text: #FFFFFF;
}

.bg-primary { background-color: var(--primary); }
.bg-secondary { background-color: var(--secondary); }
.bg-accent { background-color: var(--accent); }
.bg-background { background-color: var(--background); }
.text-text { color: var(--text); }

@theme {
  --font-bungee: "Bungee", sans-serif;
}